doctype
html
    head
        meta(charset="UTF-8")
        title File Server
    body
        h2 Загрузка
        input(type="file" name="file").upload-data
        input(type='button', value="отправить").upload

        .file-list
        .file-result(style='margin: 20px; padding: 20px; border: 2px solid black;')

        script(src='/assets/bundle.js')