doctype
html
    head
        meta(charset="UTF-8")
        title File Server
        link(rel="stylesheet" type="text/css" href="/assets/styles.css")
    body
        h2 Загрузка
        input(type="file" name="file").upload-data
        input(type='button', value="отправить").upload

        .file-list
        .file-result

        script(src='/assets/bundle.js')